<!DOCTYPE html>
<html>
<head>
	<title>New</title>
</head>
<body>
	<h1>NEW</h1>

	<form method="POST" action="/rentgrounds">
		<input type="text" name="title"> <br>
		<input type="text" name="location">
		<br>
		<button>submit</button>

	</form>

	<a href="/rentgrounds">Back to all rent ads</a>
</body>
</html>