<% layout('layouts/boilerplate.ejs') %>

	<h1>NEW</h1>

	<form method="POST" action="/rentgrounds">
		<input class="form-label" placeholder="Title here"  type="text" name="title"> <br>
		<input class="form-label" placeholder="location" type="text" name="location"> <br>
		<input class="form-label" placeholder="description" type="text" name="description"> <br>
		<input class="form-label" placeholder="price" type="number" name="price"> <br>
		<input class="form-label" placeholder="Image URL" type="text" name="image">
		<br>
		<button class="btn btn-primary">submit</button>

	</form>

	<a href="/rentgrounds">Back to all rent ads</a>
