<% layout('layouts/boilerplate.ejs') %>

    <p>
 <%= `${rentground_data.title} on (( ${rentground_data.location} )) and PRICE IS ${rentground_data.price}` %>
    </p>

    <img src='<%=rentground_data.image%>'>



<form method="POST" action="/rentgrounds/<%=rentground_data._id%>?_method=DELETE">
    <button>DELETE</button>

</form>

 <footer>
 	<a href="/rentgrounds/<%=rentground_data._id%>/edit">EDIT</a>
 	<br>
 	<a href="/rentgrounds">SHOW ALL Rent Near Me</a>

 </footer>
